<h1>Welcome to Chuck Roast</h1>
<p>Don't upchuck, save it to Chuck</p>
<p>When people roast you for recipes, send them to chuck.</p>
<p>Chuck all your recipes in one place, then roast them another day.</p>

<p>Chuck me the recipe.</p>
<a href="/products" class="button button-primary">My Recipes</a>